.footer{
    position: relative;
    font-size: 10vh;
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top, #6eb32d 95%, #16639700);
}

.in-footer{
    position: relative;
    top: 2vh;
    font-size: 5vh;
    width: 20%;
}

.ankle-footer{
    left: 55%;
    margin-right: 5%;
}

.img-footer{
    position: relative;
    width: 80%;
    margin: 2%;
    border-radius: 25%;
}

.img-footer:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

.ankle-footer{
    position: relative;
    left: 50%;
    top: 10%;
    width: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .footer{height: 15vh;}
    .in-footer{width: 25%;}
    .img-footer{height: 10vh; left: 47%;}
}

@media screen and (max-width: 426px){
    .in-footer{width: 50%;}
    .ankle-footer{ left: 10%; width: 15%;}
    .img-footer{width: 100%;}
    .in-footer{font-size: 25px; top: 3vh;}
}
